#btn-menu {
	display: inline-block;
	float: right;
	-webkit-transition: all .7s ease;
	transition: all .7s ease;
	.menu-opened & {
		opacity: 0;
		filter: Alpha(Opacity=0);
	}
}
#btn-close-menu {
	display: inline-block;
	opacity: 0;
	filter: Alpha(Opacity=0);
	-webkit-transition: all 2s ease;
	transition: all 2s ease;
	.menu-opened & {
		opacity: 1;
		filter: Alpha(Opacity=100);
	}
	.m-line {
		&:nth-of-type(1) {
			-webkit-transform: translateY(4px) rotate(45deg);
			-ms-transform: translateY(4px) rotate(45deg);
			transform: translateY(4px) rotate(45deg);
		}
		&:nth-of-type(2) {
			-webkit-transform: translateY(-4px) rotate(-45deg);
			-ms-transform: translateY(-4px) rotate(-45deg);
			transform: translateY(-4px) rotate(-45deg);
		}
	}
}
#menu-wr {
	position: fixed;
	width: 320px;
	right: -320px;
	top: 0;
	bottom: 0;
	z-index: 999;
	padding: 35px;
	background: $l-violette-g-btn;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	.menu-opened & {
		right: 0;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	a {
		text-decoration: none;
		display: inline-block;
		color: $d-white;
		&:hover {
			color: $yellow;
		}
	}
	.menu {
		margin: 20px 0 30px;
		a {
			@include apply-to(max, $md-max) {
				font-size: 1.3rem;
			}
		}
	}
	.menu > li > a {
		padding: 10px 0;
	}
	.menu-inner > li {
		padding-left: 20px;
		background: url(../img/menu-arrow.png) no-repeat left center;
		> a {
			padding: 5px 0;
		}
	}
}
#main {
	background: -webkit-linear-gradient(32deg, $d-violette-g 11%, $l-violette-g 89%);
	background: -moz-linear-gradient(32deg, $d-violette-g 11%, $l-violette-g 89%);
	background: -o-linear-gradient(32deg, $d-violette-g 11%, $l-violette-g 89%);
	background: -ms-linear-gradient(32deg, $d-violette-g 11%, $l-violette-g 89%);
	background: linear-gradient(58deg, $d-violette-g 11%, $l-violette-g 89%);
	height: 630px;
	@include apply-to(max, $md-max) {
		height: auto;
	}
	header {
		height: 100px;
	}
	.content {
		height: 530px;
		@include apply-to(max, $md-max) {
			height: auto;
			text-align: center;
		}
	}
	header,
	.content {
		.container,
		.row {
			height: 100%;
		}
	}
	.logo {
		width: 250px;
		@include apply-to(max, $md-max) {
			margin-top: 2px;
		}
	}
	.phone {
		color: $d-white;
		font: 400 1rem/1.2rem $font-secondary;
		text-transform: uppercase;
		text-decoration: none;
		@include apply-to(max, $md-max) {
			display: none;
		}
	}
	.fa-phone {
		display: none;
		width: 28px;
		height: 28px;
		line-height: 28px;
		border: 2px solid $t-gray;
		border-radius: 50%;
		font-size: 16px;
		color: $t-gray;
		float: right;
		margin-right: 8px;
		text-decoration: none;
		text-align: center;
		@include apply-to(max, $md-max) {
			display: inline-block;
		}
	}
	.main-text {
		padding-bottom: 100px;
		position: relative;
		@include apply-to(max, $md-max) {
			padding-bottom: 20px;
		}
	}
	.main-h {
		color: $white;
		font: 100 1.4rem/ 1.7rem $font-primary;
		font-weight: 300;
		margin: .67em 0;
		position: relative;
		height: 210px;
		@include apply-to(max, $md-max) {
			height: 160px;
		}
	}
	.slide {
		opacity: 0;
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		transition: opacity 1.5s ease-in-out;
		&.active {
			transition-delay: 1.8s;
			opacity: 1;
		}
	}
	.main-img-container {
		@include apply-to(max, $md-max) {
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;
		}
	}
	.main-img {
		width: 551px;
		@include apply-to(max, $md-max) {
			display: none !important;
		}
	}
	.main-img-mob {
		width: 665px;
		display: block;
		margin: 0 auto;
		@include apply-to(min, $md-min) {
			display: none !important;
		}
	}
	.owl-buttons {
		display: none;
	}
	.owl-pagination {
		margin-bottom: 25px;
		.owl-page  {
			span {
				background-color: darken($l-gray, 20);
			}
			&.active span {
				background: $l-violette-g;
			}
		}
	}
}
#general-info {
	.partners-wr {
		@include clearfix;
		background: url(../img/border-dot-h.png) repeat-x left bottom;
		background-size: 11px 5px;
		@include apply-to(max, $md-max) {
			background: none;
		}
	}
	.partner {		
		width: 50%;
		float: left;
		.block {
			width: 412px;
			background: url(../img/salesforce-logo.svg) no-repeat left center;
			background-size: 160px 110px;
			padding-left: 180px;
			height: 200px;
			color: $gray;
			font-size: .9em;
			font-weight: 300;
			line-height: 1;
			span {
				font-size: 1.3em;
				display: inline-block;
				margin-top: 2px;
				font-weight: 500;
			}
			&.development {
				padding-top: 68px;				
			}
			&.cloud {
				padding-top: 55px;
			}
			@include apply-to(max, $md-max) {
				margin: 0 auto;
				font-size: 1.4rem;	
				&.development {									
					padding-top: 57px;
					span {
						margin-top: -3px;
					}					
				}
				&.cloud {
					padding-top: 50px;
				}
			}
			@include apply-to(max, $xs-max) {
				width: 286px;
				height: 150px;
				background-size: 110px;
				padding-left: 130px;
				font-size: .9rem;
				&.development {
					padding-top: 52px;				
				}
				&.cloud {
					padding-top: 42px;
				}
			}
		}		
		@include apply-to(max, $md-max) {
			width: 100%;
			float: none;		
			background: url(../img/border-dot-h.png) repeat-x left bottom;
			background-size: 11px 5px;
		}		
	}
	.statistic-wr {
		display: flex;
		flex: 1 1;
	}
	.statistic {
		padding-left: 85px;
		background-image: url(../img/icons-statistics-2x.png), url(../img/border-dot-v.png);
		background-repeat: no-repeat, repeat-y;
		background-position: center center, right top;
		-webkit-background-size: 74px, auto;
		background-size: 74px, auto;
		min-height: 120px;
		color: $d-violette-g;
		font-size: .8rem;
		font-weight: 300;
		line-height: .9rem;
		margin: 40px 0;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		flex-basis: 33%;
		@include apply-to(max, $md-max) {
			background-image: url(../img/icons-statistics-2x.png);
			font-size: 1rem;
			line-height: 1.1rem;
			padding-left: 0;
			padding-top: 90px;
			margin: 30px 0;
			text-align: center;
			-webkit-box-align: start;
			-webkit-align-items: flex-start;
			-ms-flex-align: start;
			align-items: flex-start;
			-webkit-box-pack: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center;
		}
	}
	.members {
		@extend .statistic;
		background-position: left 24px, right top;
		@include apply-to(max, $md-max) {
			background-position: 50% 0;
			float: left;
		}
	}
	.customers {
		@extend .statistic;
		padding-left: 94px;
		background-position: left -267px, right top;
		background-size: 82px, auto;
		@include apply-to(max, $md-max) {
			padding-left: 0;
			background-position: 47% -290px;
		}
	}
	.employees {
		@extend .statistic;
		background-image: url(../img/icons-statistics-2x.png);
		background-position: left -485px;
		float: right;
		@include apply-to(max, $md-max) {
			background-position: 50% -508px;
		}
	}
	.qty {
		color: $l-violette-g;
		font: 700 1.7rem/1.8rem $font-secondary;
	}
}
#proposal {
	min-height: 526px;
	background: $green;
	padding: 30px 0 50px;
	.small-h {
		text-align: center;
		color: $white;
	}
	.row {
		@include apply-to(min, $md-min) {
			background: url("../img/gb-icons/gb-bg.png") no-repeat 55% 50px;
		}
		@include apply-to(max, $lg-max) {
			background-position: 57% 60px;
			-webkit-background-size: 75%;
			background-size: 75%;
		}
	}
	.text-proposal {
		padding: 175px 10px 0;
		font-size: 24px;
		font-weight: 500;
		color: $white;
		text-align: center;
		&.specialists {
			background: url("../img/gb-icons/gb-icon-specialists-2x.png") no-repeat center top;
			-webkit-background-size: 156px;
			background-size: 156px;
			@include apply-to(max, $md-max) {
				background-image: url("../img/gb-icons/gb-icon-specialists-2x.png"),
							url("../img/gb-icons/gb-icon-1.png"),
							url("../img/gb-icons/gb-icon-2.png"),
							url("../img/gb-icons/gb-icon-3.png");
				background-repeat: no-repeat;
				background-position: center top, 15% 50%, 85% 30%, 10% 10%;
				-webkit-background-size: 156px, 30px, 30px, 30px;
				background-size: 156px, 30px, 30px, 30px;
			}
		}
		&.experience {
			background: url("../img/gb-icons/gb-icon-experience-2x.png") no-repeat center top;
			-webkit-background-size: 156px;
			background-size: 156px;
			@include apply-to(max, $md-max) {
				background-image: url("../img/gb-icons/gb-icon-experience-2x.png"),
							url("../img/gb-icons/gb-icon-4.png"),
							url("../img/gb-icons/gb-icon-5.png");
				background-repeat: no-repeat;
				background-position: center top, 85% 30%, 15% 10%;
				-webkit-background-size: 156px, 30px, 30px, 30px;
				background-size: 156px, 30px, 30px, 30px;
			}
		}
		&.save-costs {
			background: url("../img/gb-icons/gb-icon-save-costs-2x.png") no-repeat center top;
			-webkit-background-size: 156px;
			background-size: 156px;
			@include apply-to(max, $md-max) {
				background-image: url("../img/gb-icons/gb-icon-save-costs-2x.png"),
							url("../img/gb-icons/gb-icon-6.png"),
							url("../img/gb-icons/gb-icon-7.png"),
							url("../img/gb-icons/gb-icon-8.png");
				background-repeat: no-repeat;
				background-position: center top, 85% 20%, 15% 30%, 90% 60%;
				-webkit-background-size: 156px, 30px, 30px, 30px;
				background-size: 156px, 30px, 30px, 30px;
			}
		}
	}
}
#core-capabilities {
	background: -webkit-radial-gradient(circle 863px at 50%, $l-yellow-g 15%, $d-yellow-g 100%);
	background: -moz-radial-gradient(circle 863px at 50%, $l-yellow-g 15%, $d-yellow-g 100%);
	background: -o-radial-gradient(circle 863px at 50%, $l-yellow-g 15%, $d-yellow-g 100%);
	background: -ms-radial-gradient(circle 863px at 50%, $l-yellow-g 15%, $d-yellow-g 100%);
	background: radial-gradient(circle 863px at 50%, $l-yellow-g 15%, $d-yellow-g 100%);
	text-align: center;
	padding: 0 0 70px;
	.section-h {
		background: $beige;
		padding: 30px 15px 30px;
		box-shadow: 0 2px 3px 0 darken($beige, 25);
		&:after {
			border: 17px solid transparent;
			border-color: transparent transparent $beige $beige;
			box-shadow: -2px 2px 2px 0 darken($beige, 25);
		}
		.post-h {
			font-size: 18px;
			line-height: 1.4;
		}
	}
	.container {
		position: relative;
		min-height: 880px;
		@include apply-to(max, $lg-max) {
			min-height: 790px;
		}
		@include apply-to(max, $md-max) {
			width: 320px;
			margin: 0 auto;
			padding-top: 56px;
		}
	}
	.middle-h {
		margin-bottom: 0;
	}
	.small-h {
		margin-bottom: 15px;
	}
	.cc-bottom-img {
		@include apply-to(max, $md-max) {
			display: none;
		}
	}
	.circles-wr {
		position: relative;
		z-index: 999;
		margin-left: -15px;
		margin-right: -15px;
		@include apply-to(max, $md-max) {
			position: static;
			margin: 0;
			z-index: 0;
		}
	}
	%circle {
		width: 400px;
		height: 400px;
		border-radius: 50%;
		box-shadow: 0 0 6px $circle-box-shadow;
		position: absolute;
		font-size: .8rem;
		line-height: 1.3;
		color: $gray;
		padding: 40px 50px 0;
		p {
			margin-top: 0;
		}
		@include apply-to(max, $lg-max) {
			top: 130px;
			width: 350px;
			height: 350px;
			padding: 35px 60px 0;
			font-size: .7rem;
			.small-h {
				margin-bottom: 10px;
			}
		}
		@include apply-to(max, $md-max) {
			width: 240px;
			height: 240px;
			position: static;
			margin: 40px auto;
			padding: 15px 25px 0;
			z-index: 2;
			.small-h {
				margin-bottom: 6px;
			}
		}
	}
	.web {
		@extend %circle;
		top: 180px;
		left: 20px;
		z-index: 3;
		background-color: $white;
		background-image: url(../img/cc-icons/ruby_on_rails_logo.png),
		url(../img/cc-icons/nodejs_logo.png),
		url(../img/cc-icons/angularjs_logo.png),
		url(../img/cc-icons/reactjs_logo.png),
		url(../img/cc-icons/html5_logo.png),
		url(../img/cc-icons/css3_logo.png);
		background-repeat: no-repeat;
		-webkit-background-size: 55px;
		background-size: 55px;
		background-position: 20% 73%, 40% 73%, 60% 73%, 80% 73%, 40% 93%, 60% 93%;
		@include apply-to(max, $lg-max) {
			-webkit-background-size: 40px;
			background-size: 40px;
			background-position: 23% 79%, 42% 79%, 60% 79%, 78% 79%, 42% 95%, 60% 95%;
		}
		@include apply-to(max, $md-max) {
			-webkit-background-size: 30px;
			background-size: 30px;
			background-position: 23% 75%, 42% 75%, 60% 75%, 78% 75%, 42% 93%, 60% 93%;
		}
	}
	.web-dots {
		width: 162px;
		height: 0;
		background: url(../img/cc-icons/cc-web-dots.png) no-repeat center top;
		position: absolute;
		top: 60px;
		left: 190px;
		&.heightDown {
			@include apply-to(min, $md-min) {
				-webkit-transition: height .5s linear;
				transition: height .5s linear;
				height: 120px;
			}
		}
		@include apply-to(max, $md-max) {
			background: url(../img/cc-icons/cc-web-mob-dots.png) repeat-y center top;
			background-size: contain;
			width: 6px;
			height: 63px;
			top: 30px;
			left: 50%;
			z-index: 1;
			margin-left: -3px;
		}
	}
	.sforce {
		@extend %circle;
		top: 140px;
		left: 50%;
		z-index: 4;
		margin-left: -200px;
		padding-top: 135px;
		background-color: #fff;
		background-image: url(../img/salesforce-logo.svg),
		url(../img/cc-icons/sf-force_com.png),
		url(../img/cc-icons/sf-marketing_cloud.png),
		url(../img/cc-icons/sf-sales_cloud.png),
		url(../img/cc-icons/sf-service_cloud.png),
		url(../img/cc-icons/sf-lightning_logo.png);
		background-repeat: no-repeat;
		-webkit-background-size: 130px, 65px, 65px, 65px, 65px, 165px;
		background-size: 130px, 65px, 65px, 65px, 65px, 165px;
		background-position: 50% 10%, 20% 80%, 40% 80%, 60% 80%, 80% 80%, 50% 90%;
		p {
			margin-bottom: 5px;
		}
		@include apply-to(max, $lg-max) {
			margin-left: -175px;
			padding: 125px 30px 0;
			-webkit-background-size: 130px, 55px, 55px, 55px, 55px, 135px;
			background-size: 130px, 55px, 55px, 55px, 55px, 135px;
			background-position: 50% 10%, 20% 81%, 40% 81%, 60% 81%, 80% 81%, 50% 92%;
		}
		@include apply-to(max, $md-max) {
			margin: 40px auto;
			padding-top: 70px;
			-webkit-background-size: 70px, 45px, 45px, 45px, 45px, 100px;
			background-size: 70px, 45px, 45px, 45px, 45px, 100px;
			background-position: 50% 7%, 14% 78%, 38% 78%, 62% 78%, 86% 78%, 50% 91%;
		}
	}
	.sforce-dots {
		width: 10px;
		height: 0;
		background: url(../img/cc-icons/cc-sforce-dots.png) no-repeat center top;
		position: absolute;
		top: 60px;
		left: 50%;
		margin-left: -5px;
		&.heightDown {
			@include apply-to(min, $md-min) {
				-webkit-transition: height .5s linear;
				transition: height .5s linear;
				height: 76px;
			}
		}
		@include apply-to(max, $md-max) {
			background: url(../img/cc-icons/cc-sforce-mob-dots.png) no-repeat left top;
			background-size: contain;
			margin-left: 0;
			width: 160px;
			height: 336px;
			left: 15px;
			top: 30px;
		}
	}
	.mobile {
		@extend %circle;
		top: 245px;
		right: 20px;
		z-index: 3;
		background-color: $white;
		background-image: url(../img/cc-icons/salesforce_1_logo.png),
		url(../img/cc-icons/apple_logo.png),
		url(../img/cc-icons/android_logo.png);
		background-repeat: no-repeat;
		-webkit-background-size: 55px;
		background-size: 55px;
		background-position: 25% 79%, 50% 85%, 75% 79%;
		@include apply-to(max, $lg-max) {
			top: 210px;
			-webkit-background-size: 50px;
			background-size: 50px;
			background-position: 25% 79%, 50% 85%, 75% 79%;
		}
		@include apply-to (max, $md-max) {
			margin-bottom: 0;
			padding-top: 30px;
			-webkit-background-size: 35px;
			background-size: 35px;
			background-position: 25% 79%, 50% 85%, 75% 79%;
		}
	}
	.mobile-dots {
		width: 162px;
		height: 0;
		background: url(../img/cc-icons/cc-mob-dots.png) no-repeat center top;
		position: absolute;
		top: 60px;
		right: 210px;
		&.heightDown {
			@include apply-to(min, $md-min) {
				-webkit-transition: height .5s linear;
				transition: height .5s linear;
				height: 180px;
			}
		}
		@include apply-to(max, $md-max) {
			background: url(../img/cc-icons/cc-mob-mob-dots.png) no-repeat center;
			background-size: contain;
			top: 30px;
			right: 8px;
			width: 160px;
			height: 616px;
		}
	}
	.core-capabilities-img {
		position: absolute;
		width: 100%;
		bottom: 0;
		z-index: 1;
		img {
			margin: 0 13%;
		}
	}
}
#awards {
	background: $awards-bg;
	padding: 60px 0;
	text-align: center;
	font-size: .85rem;
	.row {
		background: url(../img/border-dot-v.png) repeat-y center top;
		@include apply-to(max, $md-max) {
			background: none;
		}
	}
	.img {
		width: 270px;
		height: 60px;
		margin: 0 auto;
	}
	p {
		margin: 11px 0 0;
	}
	@include apply-to(max, $md-max) {
		padding: 40px 0;
		font-size: 1rem;
		.award-item:last-of-type {
			margin-top: 20px;
		}
	}
}
#engagement-models {
	text-align: center;
	.container {
		position: relative;
		z-index: 2;
	}
	.small-h {
		margin: 0;
	}
	.middle-h {
		margin-bottom: 0;
	}
	p {
		margin-top: 0;
		margin-bottom: 20px;
		text-align: left;
	}
	.dev-lab,
	.dev-project {
		background: $l-pink;
		padding: 40px 0;
		.text-wr {
			padding: 70px 0 70px 25px;
			position: relative;
		}
		.btn-yellow {
			position: absolute;
			left: 50%;
			bottom: 0;
			margin-left: -100px;
			@include apply-to(max, $md-max) {
				position: static;
				margin: 20px auto 0;
			}
		}
	}
	.dev-team {
		background: $pink;
		padding: 40px 0;
		.btn-yellow {
			margin-top: 10px;
		}
		.img {
			text-align: right;
		}
	}
	.order-xs-3 {
		@include apply-to(max, $md-max) {
			-webkit-box-ordinal-group: 4;
			-webkit-order: 3;
			-ms-flex-order: 3;
			order: 3;
		}
	}
	.dev-lab,
	.dev-team,
	.dev-project {
		position: relative;
		overflow: hidden;
		@include apply-to(max, $md-max) {
			.img {
				text-align: center;
				padding-top: 30px;
			}
			.text-wr {
				padding: 30px 0 0;
			}
		}
	}
	.dev-lab img {
		width: 288px;
	}
	.dev-team img {
		width: 270px;
	}
	.dev-project img {
		width: 271px;
	}
}
#elevate {
	background: $l-violette-g-btn;
	color: $white;
	padding: 70px 0;
	font-weight: 100;
	text-align: center;
	span {
		margin-left: 10px;
		font-weight: 300;
	}
	@include apply-to (max, $md-max) {
		font-size: 1.4rem;
		.btn-violette {
			display: none;
		}
	}
}
#clients {
	text-align: center;
	padding: 70px 0;
	.middle-h {
		margin-bottom: 15px;
	}
	p {
		margin-top: 0;
	}
	.owl-wrapper-outer {
		margin: 70px 0;
	}
	.item img {
		height: 100px;
		margin: 0 auto;
	}
	@include apply-to (max, $md-max) {
		padding: 50px 0;
		font-size: 1.2rem;
	}
	#clients-carousel {
		@include apply-to(max, 620) {
			display: none !important;
		}
	}
	#clients-carousel-mobile {
		@include apply-to(min, 621) {
			display: none !important;
		}
	}
}
#contacts {
	min-height: 400px;
	position: relative;
	color: $white;
	p {
		margin: 20px 0;
		font-size: .85rem;
		line-height: .95rem;
		@include apply-to(max, $md-max) {
			font-size: 1.2rem;
			line-height: 1.2rem;
		}
	}
	.map-wr {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}
	#map {
		height: 100%;
	}
	.content {
		background: $map-bg url(../img/border-line-v.png) no-repeat center;
		position: relative;
		z-index: 2;
		padding: 97px 0;
		min-height: 400px;
		.container,
		.row {
			height: 100%;
		}
		@include apply-to (max, $md-max) {
			padding: 100px 0 0;
			text-align: center;
			background: $map-bg;
			/*url(../img/logo-contacts.png) no-repeat center 85%*/
		}
	}
	.c-left {
		@include apply-to(max, $md-max) {
			background: url(../img/border-line-h.png) repeat-x left bottom;
			padding-bottom: 40px;
		}
		.get-in-touch-h {
			margin: 20px 0;
			font: 300 1.3rem/1.4rem $font-secondary;
			@include apply-to(max, $md-max) {
				position: absolute;
				top: 0;
				left: 0;
				text-align: center;
				width: 100%;
				margin-top: 50px;
				font-size: 2rem;
				font-weight: 500;
			}
		}
	}
	.c-right {
		@include clearfix;
		//background: url(../img/logo-contacts.png) no-repeat right bottom;
		@include apply-to(max, $md-max) {
			//background: url(../img/line-devider-h.png) repeat-x left bottom;
			padding-bottom: 40px;
		}
	}
	.email {
		color: $yellow;
		text-decoration: none;
		font: 500 1.4rem/1.5rem $font-secondary;
		border-bottom: 2px solid $yellow;
		-webkit-transition: all .5s ease;
		transition: all .5s ease;
		&:hover {
			color: $white;
			border-bottom: 2px solid $white;
		}
		@include apply-to(max, $md-max) {
			font-size: 1.3rem;
		}
	}
	.tel {
		color: $white;
		font-size: .9rem;
		font-weight: 500;
		text-decoration: none;
		margin-bottom: 5px;
		display: inline-block;
		-webkit-transition: color .5s ease;
		transition: color .5s ease;
		&:hover {
			color: $yellow;
		}
		.fa-mobile {
			margin-right: 5px;
			margin-left: 5px;
			color: lighten($gray, 20%);
			font-size: 1.3em;
			position: relative;
			bottom: -4px;
		}
		@include apply-to(max, $md-max) {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			font-size: 1.1rem;
		}
	}
	%contact {
		@include apply-to(min, $md-min) {
			width: 45%;
			margin-right: 5%;
			float: left;
			margin-bottom: 20px;
			font-family: $font-secondary;
			color: $white;
			&:nth-of-type(2n) {
				width: 50%;
				margin-right: 0;
			}
		}
		@include apply-to(max, $md-max) {
			position: relative;
			padding-bottom: 30px;
		}
	}
	.address {
		font-size: .8rem;
		@include apply-to(max, $md-max) {}
		.fa-map-marker {
			margin-right: 10px;
			display: block;
			font-size: 1.6rem;
			float: left;
			@include apply-to(max, $md-max) {
				margin-right: 0;
				float: none;
				font-size: 2rem;
			}
		}
		.addr-text {
			display: block;
			float: left;
			line-height: .8rem;
			@include apply-to(max, $md-max) {
				float: none;
				font-size: 1.1rem;
				line-height: 1.2rem;
			}
		}
	}
	.ny {
		@extend %contact;
		.fa-map-marker {
			color: $m-marker-ny;
		}
	}
	.paris {
		@extend %contact;
		.fa-map-marker {
			color: $m-marker-paris;
		}
	}
	.kyiv {
		@extend %contact;
		.fa-map-marker {
			color: $m-marker-kyiv;
		}
	}
}
#footer {
	background-color: $footer-bg;
	color: darken($white, 20%);
	font: 400 .7rem/.7rem $font-secondary;
	.container {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		min-height: 70px;
		padding: 20px 0;
		@include apply-to(max, $sm-max) {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-box-pack: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center;
		}
	}
	.logo {
		width: 250px;
		opacity: .5;
		filter: Alpha(Opacity=50);
	}
	.copyright {
		text-align: center;
	}

	.created-by {
		.fa {
			color: red;
		}
		a {
			text-decoration: underline;
			color: darken($white, 20%);
			-webkit-transition: color .5s ease;
			transition: color .5s ease;
			&:hover {
				color: red;
			}
		}
	}
	.logo-footer,
	.copyright,
	.created-by {
		@include apply-to(max, $sm-max) {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-flex-basis: 30px;
			-ms-flex-preferred-size: 30px;
			flex-basis: 30px;
		}
	}
}