$a-offset: 5px;

.animated-circles-container {
	position: relative;
}
.animated-circles {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	@include apply-to(max, $md-max) {
		width: calc(100% - 30px);
		margin: 0 auto;
	}
	/* Circles proportion fix between 730px and 991px */
	@include apply-to(min, 730) {
		height: 720px;
		top: -28px;
	}
	@include apply-to(min, $md-min) {
		height: auto;
		top: 0;
	}
	/* /Circles proportion fix between 730px and 991px */
}

%animated-circle-main {
	background: rgba($l-violette-g, .6);
	color: $ll-violette-g;
	border-radius: 50%;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: absolute;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 3s;
	@include apply-to(max, $md-max) {
		font-size: 3vw;
	}
}

/*Circles*/
.c-android {
	@extend %animated-circle-main;
	width: 70px;
	height: 70px;
	top: 0;
	left: 3%;
	animation-name: moveLeftBottom;
	animation-duration: 5s;
	@include apply-to(max, $md-max) {
		width: 18%;
		height: 18%;
		left: 6%;
	}
}
.c-css {
	@extend %animated-circle-main;
	width: 50px;
	height: 50px;
	top: 22%;
	left: 8%;
	animation-name: moveRightTop;
	animation-duration: 4s;
	@include apply-to(max, $md-max) {
		width: 10%;
		height: 10%;
		top: 21%;
		left: 10%;
	}
}
.c-java {
	@extend %animated-circle-main;
	width: 50px;
	height: 50px;
	top: 42%;
	left: 6%;
	animation-name: moveV;
	animation-duration: 3s;
	@include apply-to(max, $md-max) {
		width: 12%;
		height: 12%;
		top: 34%;
		left: 3%;
	}
}
.c-net {
	@extend %animated-circle-main;
	width: 60px;
	height: 60px;
	top: 7%;
	left: 22%;
	animation-name: moveV;
	animation-duration: 5s;
	@include apply-to(max, $md-max) {
		width: 12%;
		height: 12%;
		top: 3%;
		left: 27%;
	}
}
.c-js {
	@extend %animated-circle-main;
	width: 80px;
	height: 80px;
	top: 2%;
	left: 38%;
	animation-name: moveLeftTop;
	animation-duration: 4s;
	@include apply-to(max, $md-max) {
		display: none;
	}
}
.c-sf {
	@extend %animated-circle-main;
	background: url("../img/salesforce-animated-logo.png") no-repeat center;
	-webkit-background-size: 100%;
	background-size: 100%;
	opacity: .6;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	border-radius: 0;
	width: 86px;
	height: 60px;
	top: 0;
	left: 57%;
	animation-name: moveH;
	animation-duration: 3s;
	@include apply-to(max, $md-max) {
		width: 21%;
		height: 16%;
		top: 0;
		left: 58%;
	}
}
.c-html {
	@extend %animated-circle-main;
	width: 60px;
	height: 60px;
	top: 17%;
	left: 59%;
	animation-name: moveV;
	animation-duration: 5s;
	@include apply-to(max, $md-max) {
		width: 14%;
		height: 14%;
		top: 6%;
		left: 42%;
	}
}
.c-ror {
	@extend %animated-circle-main;
	width: 76px;
	height: 76px;
	top: 2%;
	left: 77%;
	animation-name: moveRightTop;
	animation-duration: 4s;
	@include apply-to(max, $md-max) {
		width: 18%;
		height: 18%;
		top: 7%;
		left: 80%;
	}
}
.c-ios {
	@extend %animated-circle-main;
	width: 55px;
	height: 55px;
	top: 26%;
	right: 3%;
	animation-name: moveLeftTop;
	animation-duration: 3s;
	@include apply-to(max, $md-max) {
		width: 12%;
		height: 12%;
		top: 30%;
		right: 2%;
	}
}

/*Moves*/
@keyframes moveH {
	from {
		transform: translateX(0px);
	}
	to {
		transform: translateX($a-offset);
	}
}
@keyframes moveV {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY($a-offset);
	}
}
@keyframes moveLeftTop {
	from {
		transform: translate(0px,0px);
	}
	to {
		transform: translate(-$a-offset,-$a-offset);
	}
}
@keyframes moveRightTop {
	from {
		transform: translate(0px,0px);
	}
	to {
		transform: translate($a-offset,-$a-offset);
	}
}
@keyframes moveLeftBottom {
	from {
		transform: translate(0px,0px);
	}
	to {
		transform: translate(-$a-offset,$a-offset);
	}
}
@keyframes moveRightBottom {
	from {
		transform: translate(0px,0px);
	}
	to {
		transform: translate($a-offset,$a-offset);
	}
}